<div class="image-slide"></div>
<div class="home-body">
  <div class="home-menu-left">
    <h4 class="heading"><%= t ".news_feed" %></h4>
    <div class="list-group">
      <a href="#" class="list-group-item"><%= t ".place" %></a>
      <a href="#" class="list-group-item"><%= t ".hotel" %></a>
      <a href="#" class="list-group-item"><%= t ".restaurant" %></a>
    </div>
  </div>
  <div class="news-feed">
    <h4 class="heading"><%= t ".news_feed" %></h4>
  </div>
  <div class="home-menu-right">
    <h4 class="heading"><%= t ".news_feed" %></h4>
  </div>
</div>
